#lien1 {
    color: white;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#lien2 {
        color: white;
        background-color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#lien3 {
    color: white;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.lien {
    background-color: black;
    margin: 5px 0px 5px 0px;
    padding: 25px;
}
#imgpromotionjarditou {
    height: auto;
    width: 100%;
}
.accueil {
    display: flex;
    justify-content: space-between;
    font-size: auto;
    height: auto;
}
.box {
    display: inline-block;
}
#box1 {
    width: 65%;
    float: left;
}
#box2 {
    background-color: grey;
    width: 35%;
    float: right;
}
#haut {
    height: 50px;
    width: auto;
    display: flex;
}
.titre {
    margin: 25%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tableau {
    display: flex;
    justify-content: space-between;
    font-size: auto;
    height: auto;
}
.imgtaille {
    height: 95px;
    width: 95px;
}
.contact {
    display: flex;
    justify-content: space-between;
    font-size: auto;
    height: auto;
}
@media screen and (max-width: 768px) 
{ 
    head, body
    { 
        font-size : 40px; 
    } 
    #box2
    {
        display: none;
    }
    .imglogojarditou
    {
        margin: 0%;
        width: 480px;
        height: auto;
    }
    .titre
    {
        margin: 0%;
        width: 480px;
        height: auto;
    }
    #haut
    {
        width: 480px;
        height: auto;
        display: block;
    }
    #lien1 
    {
        color: white;
        background-color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        display: block;
    }
    #lien2 
    {
        color: white;
        background-color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        display: block;
    }
    #lien3 
    {
    color: white;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    }
    .lien 
    {
        background-color: black;
        margin: 5px 0px 5px 0px;
        padding: 25px;
    }
}