.lien {
    color: white;
    background-color: black;
    margin: 5px 0px 5px 0px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#imgpromotionjarditou {
    height: auto;
    width: 100%;
}
.accueil {
    display: flex;
    justify-content: space-between;
    font-size: auto;
    height: auto;
}
.box {
    display: inline-block;
}
#box1 {
    width: 65%;
    float: left;
}
#box2 {
    background-color: grey;
    width: 35%;
    float: right;
}
#haut {
    display: flex;
    justify-content: flex-start;
}
.imglogojarditou {
    height: 10%;
    width: 10%;
    margin: 0% 50% 0% 0%
}
.titre {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tableau {
    display: flex;
    justify-content: space-between;
    font-size: auto;
    height: auto;
}
.imgtaille {
    height: 95px;
    width: 95px;
}
.contact {
    display: flex;
    justify-content: space-between;
    font-size: auto;
    height: auto;
}